MOONPAY_PUBLISHABLE_KEY=pk_test_your_publishable_key
MOONPAY_SECRET_KEY=sk_test_your_secret_key
MOONPAY_WEBHOOK_SECRET=wk_test_your_webhook_secret

RESEND_API_KEY=re_your_api_key
RESEND_FROM="Orbit Contact <onboarding@resend.dev>"
CONTACT_TO_EMAIL=deepaknegi108r@gmail.com
